body{
    background-image: url('https://s1.1zoom.me/b5050/88/Toys_Trains_Colored_background_607681_1920x1200.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    background: white;
    text-align: center;
    margin: 50px;
    padding: 50px;
}
.principal{
    
    text-align: center;
    margin: 0px;
    padding: 10px;
}
.segundo{
    background-color: rgb(21, 163, 163);
    text-align: left;
    margin:50px ;
    padding: 50px;
}
.col{
    background-color: rgb(34, 24, 44);
    color: white;
    border: solid;
    border-radius: 5px;
    border-color: rgb(255, 8, 0);
}
nav .brand-logo img{
    max-height: 50px; /*Es para controlar la altura maxima de la imagen*/
    width: auto; /*Para controlar automaticamaticamente lo ancho de la imagen*/
}